#footnote{
	float:right;
	margin-right: 10%;
}


html {
margin-right: 5%;
color: #333344;
background-color: #fff; 
background-image:
linear-gradient(90deg, transparent 79px, #abced4 79px, #abced4 81px, transparent 81px),
linear-gradient(#eee .1em, transparent .1em);
background-size: 100% 1.2em;
font-family: 'Gloria Hallelujah', cursive;


}
#mainCard {
   
    width: 75%;
    box-sizing: border-box;
    height: 100%

}

wired-combo {
margin: 10px;
--wired-item-selected-bg: #b21723;
  	
}


p::first-letter {
  font-size: 200%;
  color: #ff2233;
}

h1{
	color: #ff2233;
}

#date{
	font-size: 15px;
	float: right;
}

#about{
margin-top: 5%;
margin-left: 5%;
font-size: 15px;
}



#about p{
	text-align: center;

}

#mainContent{
	margin-left: 4%;
font-size: 20px;
}

#campos{
	text-align: center;
}

#btnCalculaArea{
position: relative;
}

.controls{
	display:grid;
}
.instructions{
	font-size: 15px;
}

wired-input{
	font-size: 15px;
	margin-top: -10%;
}

*::-moz-selection {
    background: #fdff22;
    color: #000 ;
    text-decoration: underline;
}


*::selection {
    background: #fdff22;
    color: #000 ;
    text-decoration: underline;
}


a:visited, footer a {
    color: #62a8b8;
}


a, footer a{
    color: #52a8b8;
}