html, body, pre, code, kbd, samp {
font-family: "BLOKK";
	margin-left: 0.5%;

}

body{
	 background:url(

   ) repeat;
}

nav{
	background-color:#45b9db;
}


article{
	background-color: #f9fdbc;
}

#divFooter, #divHeader{
	background-color: #dd2020;
	color: #fff;
}

main{
	
}
.tbl{
	background-color:#dd2020;
}


#ranking{
	margin-top: 2%;
}


.star:hover{
	background: yellow;
}

#fav{
	float: right;
}

#send{
	font-size: 10px;
	font-weight: bold;
}

#fav:hover{
	  -moz-box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.3);
    -webkit-box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.3);
    box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.3);
    height: 50%
}

#me{
	float:right;
	height: 20%;
}

#navDiv{
	margin-top: 22%;
}
#subscribe{
	font-size: 12px;
}

#icons{
	float: right;
}

.blokk{
	font-family: "BLOKK";
}

#divFooter{
	text-align: right
}

h1{
	margin-left: 2%;
}

input{
	margin-bottom:1%;
}

*::-moz-selection {
    background: #61ff22;
    color: #000 ;
    text-decoration: underline;
}


*::selection {
    background: #61ff22;
    color: #000 ;
    text-decoration: underline;
}


a:visited, footer a {
    color: #62a8b8;
}


a, footer a{
    color: #52a8b8;
}