/*
      www.OnlineWebFonts.Com 
      You must credit the author Copy this link on your web 
      <div>Font made from <a href="https://www.onlinewebfonts.com">oNline Web Fonts</a>is licensed by CC BY 3.0</div>
      OR
      <a href="https://www.onlinewebfonts.com">oNline Web Fonts</a>
*/
@font-face {font-family: "Vintage ITC";
    src: url("https://db.onlinewebfonts.com/t/b3cf7dfa24a914823bb6e54ef0825ba3.eot"); /* IE9*/
    src: url("https://db.onlinewebfonts.com/t/b3cf7dfa24a914823bb6e54ef0825ba3.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("https://db.onlinewebfonts.com/t/b3cf7dfa24a914823bb6e54ef0825ba3.woff2") format("woff2"), /* chrome firefox */
    url("https://db.onlinewebfonts.com/t/b3cf7dfa24a914823bb6e54ef0825ba3.woff") format("woff"), /* chrome firefox */
    url("https://db.onlinewebfonts.com/t/b3cf7dfa24a914823bb6e54ef0825ba3.ttf") format("truetype"), /* chrome firefox opera Safari, Android, iOS 4.2+*/
    url("https://db.onlinewebfonts.com/t/b3cf7dfa24a914823bb6e54ef0825ba3.svg#Vintage ITC") format("svg"); /* iOS 4.1- */
}


/*
      www.OnlineWebFonts.Com 
      You must credit the author Copy this link on your web 
      <div>Font made from <a href="https://www.onlinewebfonts.com">oNline Web Fonts</a>is licensed by CC BY 3.0</div>
      OR
      <a href="https://www.onlinewebfonts.com">oNline Web Fonts</a>
*/
@font-face {font-family: "Vintage";
    src: url("https://db.onlinewebfonts.com/t/122b02974772b4c83041350afdd4f7c8.eot"); /* IE9*/
    src: url("https://db.onlinewebfonts.com/t/122b02974772b4c83041350afdd4f7c8.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("https://db.onlinewebfonts.com/t/122b02974772b4c83041350afdd4f7c8.woff2") format("woff2"), /* chrome firefox */
    url("https://db.onlinewebfonts.com/t/122b02974772b4c83041350afdd4f7c8.woff") format("woff"), /* chrome firefox */
    url("https://db.onlinewebfonts.com/t/122b02974772b4c83041350afdd4f7c8.ttf") format("truetype"), /* chrome firefox opera Safari, Android, iOS 4.2+*/
    url("https://db.onlinewebfonts.com/t/122b02974772b4c83041350afdd4f7c8.svg#Vintage") format("svg"); /* iOS 4.1- */
}


.demo {


font-weight:bold;
font-size: 75px;
text-align:center;

}


.word1, .line1, .char1{
color:#003366

background: #b8b8b8;
text-shadow: 4px 3px 0 #7A7A7A;
}

.word2, .line2, .char2{
color: #eebb22

background: #b8b8b8;
text-shadow: 4px 3px 0 #7A7A7A;
}

.word3, .line3, .char3{
color: #cc0033

background: #b8b8b8;
text-shadow: 4px 3px 0 #7A7A7A;
}
    

body{
    background:
radial-gradient(#3a1e1e 3px, transparent 4px),
radial-gradient(#3a1e1e 3px, transparent 4px),
linear-gradient(#d0bb88 4px, transparent 0),
linear-gradient(45deg, transparent 74px, transparent 75px, #ae2a45 75px, #ae2a45 76px, transparent 77px, transparent 109px),
linear-gradient(-45deg, transparent 75px, transparent 76px, #ae2a45 76px, #ae2a45 77px, transparent 78px, transparent 109px),
#d0bb88;
background-size: 109px 109px, 109px 109px,100% 6px, 109px 109px, 109px 109px;
background-position: 54px 55px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;
}


html {

font-family: 'Vintage ITC';


}

.ornaments{
  font-family: 'Vintage';
  color: #eebb22;
  text-shadow: 2px 2px 2px #AE2A45;
  font-size: 80;

}

.services{
  color: #eebb22;
  text-shadow: 2px 2px 2px #AE2A45;
}

#logo{
  
}

.regular{
  color: #ddd;
background: #a30028;
text-shadow: 4px 3px 0 #7A7A7A;
}



span::first-letter {
  font-size: 200%;
  color: #ff2233;
}


*::-moz-selection {
    background: #bd9c5f;
    color: #000 ;
    text-decoration: underline;
}


*::selection {
    background: #fdff22;
    color: #000 ;
    text-decoration: underline;
}
/*
h1{
	color: #ff2233;
}



a:visited, footer a {
    color: #62a8b8;
}


a, footer a{
    color: #52a8b8;
}